<div class="carousel-inner" role="listbox" ng-repeat="item in viewModel.serviceList">
  <div class="item active">
    <img src="{{item.image}}" alt="{{item.cost}}">      
    <div class="carousel-caption">
      <div>
        <h4>{{ item.name | uppercase }}</h4>
        <p>{{ item.description }}</p>
        <a ui-sref="home.reserve({id:item.id})">COP {{ item.cost }}</a>
        <button ui-sref="home.bookother({id:item.id})" type="button" class="btn btn-link">Reservar</button>
      </div>
    </div>
    <br><br>
  </div>
</div>