<ui-view></ui-view>
<form novalidate>
  <div class="row">
    <div class="col-md-12">
      Servicio:<br>
      <input type="text" readonly="true" ng-model="rsvCtrl.servicio.description"><br>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      Precio:<br>
      <input type="text" readonly="true" ng-model="rsvCtrl.servicio.cost">
    </div>
  </div>
  <br><br>
  <button ng-click="rsvCtrl.reserve({id:item.id})">Reservar</button>
  <br><br>
  <div class="alert alert-success" role="alert" ng-show="rsvCtrl.showMsg">
    {{rsvCtrl.msgOk}}
  </div>
</form>